.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list_ingredients{
    max-height: calc(100vh - 516px);
    height: calc(100vh - 516px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*padding-right: 10px;*/
    /*margin-right: -18px;*/
}


.empty_ingredient_wrap{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

.empty_ingredient{
    padding: 16px 24px;
    display: inline-block;
    border-radius: 40px;
    background: #2f2f37;
    max-width: 488px;
    min-height: 48px;
    font-size: 16px;
    line-height: 48px;
    color: #F2F2F3;
    flex-grow: 1;
    text-align: center;
}

.empty_ingredient_list{
    height: calc(100vh - 548px);
    display: flex;
    padding: 16px 24px;
    background: #2f2f37;
    width: 488px;
    border-radius: 40px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.empty_ingredient_top{
    composes: empty_ingredient;
    border-radius: 88px 88px 40px 40px;
}

.empty_ingredient_bottom{
    composes: empty_ingredient;
    border-radius: 40px 40px 88px 88px;
}

.item{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

.content {
    composes: mt-25 from global;
    display: flex;
    flex-direction: column;
}

.summary{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    gap: 40px;
    composes: mt-10 from global;
}