.content{
    composes: mt-30 from global;
    composes: mb-30 from global;
    text-align: center;
}

.order_num{
    composes: text from global;
    composes: text_type_digits-large from global;
}

.order_num_description{
    composes: pt-8 from global;
    composes: text from global;
    composes: text_type_main-medium from global;
}
.order_status_icon{
    composes: mt-10 from global;
    composes: mb-10 from global;
    zoom: 2;
}
.order_status{
    composes: text from global;
    composes: text_type_main-default from global;
}
.order_status_description{
    composes: pt-2 from global;
    composes: text from global;
    composes: text_type_main-default from global;
    color: #8585AD;
}