.content {
    display: flex;
    flex-direction: column;
}

.tab{
    composes: mb-10 from global;
    display: flex;
    justify-content: space-between;
}

.list_wrap{
    composes: ml-4 from global;
    composes: pr-4 from global;
    max-height: calc(100vh - 350px);
    overflow-y: auto;
}

.list{
    display: grid;
    grid-gap: 24px;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
}

.item{
    text-align: center;
    position: relative;
    cursor: pointer;
}

.item_image{
    composes: mb-1 from global;
}
.item_price{
    composes: mb-1 from global;
    composes: text from global;
    composes: text_type_digits-default from global;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.item_name{
    composes: text from global;
    composes: text_type_main-default from global;

}